<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datumlibrarymanager">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera2.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".borrow.BorrowActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".search.SearchActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".register.RegisterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".stocktake.StocktakeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".common.ConfirmManager"
            android:screenOrientation="landscape" />
        <activity
            android:name=".common.ICReaderActivity"
            android:screenOrientation="landscape"  />
        <activity
            android:name=".return.ReturnActivity"
            android:screenOrientation="landscape"  />
        <activity
            android:name=".common.CaptureActivityPortrait"
            android:screenOrientation="landscape"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>

</manifest>
